<div id="page_wrapper">
    <div id="profile_image">
        <%= image_tag "profile.jpeg" %>
    </div>
    
    <div id="content">
        <h1>Prasetya Aria Wibawa</h1>
        <p>am cred kitsch minim viral normcore prism edison bulb bicycle rights occupy post-ironic williamsburg salvia. 
        Synth mollit meditation cardigan succulents readymade migas pok pok craft beer hashtag butcher microdosing ethical. 
        Tousled vinyl shoreditch consequat, pariatur vegan air plant ut minim. 
        Brunch typewriter venmo fixie magna you probably haven't heard of them consequat biodiesel umami irure est do. 
        Cliche glossier tbh thundercats artisan brooklyn.
        Anim af gentrify tumeric. Swag before they sold out ea cupidatat nostrud. Craft beer green juice microdosing, mlkshk deep v migas ethical.</p>
    </div>
</div>